# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Exuberant Ctags
.tags

# Sublime text
*.sublime-*

# Distribution / packaging / virtualenv
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
lib/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/

# Blockly
static/admin/blockly*
static/admin/closure-library-read-only/

