{
	"MediaManager":{
		"mediaDir": "../../media",
		"USBDir":"/media/usb"
	},
	"ScenarioManager":{
		"scenarioDir": "../scenario"
	},
	"OSCInterface":{
		"url":"127.0.0.1",
		"clientPort":5000,
		"serverPort":6000,
		"baseAddress":"",
		"base64Encode":false
	},
	"WebServer":{
		"root_dir":"./w/static",
		"port":8080,
		"refreshStatusPeriod":2000,
		"debug":false
	},
	"HPlayer":{
		"name" : "the name",
		"ip" : "127.0.0.1",
		"isPlaying" : false,
		"media" : {
					"filepath":null,
					"progress":null,
					"duration":null
		},
		"loop"		: true,
		"zoom"		: 100,
		"blur"		: 0,
		"isPaused"  : false,
		"isMuted"   : false,
		"volume"    : 50,
		"hdmiAudio"	: true,
		"info"		: true
	}
}